
body {
  font-family: "Source Code Pro", monospace;
}

main {
  text-align: center;
  position: absolute;
  margin: 0;
  /* center horizontally and vertically */
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  text-align: center;
  position: absolute;
  margin: 0;
  /* center horizontally and push to bottom */
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
